.footer-title {
  margin-top: 40px;
  color: var(--dark-blue, #005564);
}
.footer-section {
  margin-top: 20px;
}
.footer-text {
  margin-top: 20px;
  color: var(--dark-blue, #005564);
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
